.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mySwiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .swiper-pagination {
    color: #000 !important; // 페이지네이션 색상
  }
}
